* {
    margin: 0;
    padding: 0;
}

#logo_header{
    background-image: url(../assets/images/header.jpg);
    font-size: 5rem;
    background-size: cover;
    background-position: 0%;
}

ul{
    list-style:none;
}

nav {
    background-color: rgba(255, 255, 255, 1);
}

nav ul{
    display: flex;
    justify-content: center;
}

nav li{
    text-align: center;
    padding: 1em;
    /* width: 100%; */
}

nav li a{
    color: black;
    text-decoration: none;
}

nav li:hover {
    background-color: rgb(36, 51, 83);
    color: white;
}

.active {
    background-color: rgb(5, 35, 100);
}

.active a {
    color: white
}

main{
    display: flex;
    margin-top: 2em;
}

main img{
    flex-basis: 20%;
    flex-shrink: 0;
    padding : 1rem;
}
  
main li:nth-child(2n) img{
    order:1;  
}
  
  
main li {
    display: flex;
    color: white
}

aside ul{
  padding-left: 0;
}

aside, h1, footer{
    margin: 0.5rem;
    border: solid thin;
    padding: 1rem;
}

aside{
    flex-basis: 20%;
    flex-shrink: 0;

}
aside p, aside a{
    margin: 1rem;
}

aside li{
    border: solid thin;
    background-color:  white;
}

body{
    font-size:1rem;
    background-image: url(../assets/images/background2.jpg);
    color : white
    
}